<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=IE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dsu-node-basic-crud</title>
</head>
<body>
    <h1><p style="border-left: 10px solid #688FF4; padding: 0.5em; border-bottom: 2px solid #688FF4; ">User List</p></h1>
    <a href="/src/insert">Add UserInfo</a>
    <hr />
    <h3>You can search OS and Version with Name</h3>
    <form action="/search-query" method="post">
        <input type="text" name="Name" id="searchName" placeholder="searchName" value="<%= data.Name %>">
        <input type="submit" value="search">
    </form>
    <br>
    <table border="1">
        <tr>
            <th>DELETE</th>
            <th>EDIT</th>
            <th>ID</th>
            <th>Name</th>
            <th>OS</th>
            <th>Version</th>
        </tr>
        <% data.forEach(function (item, index) { %>
            <tr>
                <td><a href="/delete/<%= item.id%>">DELETE</a></td>
                <td><a href="/src/edit/<%= item.id %>">EDIT</a></td>
                <td><strong>
                        <%= item.id %>
                    </strong></td>
                <td><strong>
                        <%= item.Name %>
                    </strong></td>
                <td><strong>
                        <%= item.OS %>
                    </strong></td>
                <td><strong>
                        <%= item.Version %>
                    </strong></td>
            </tr>
            <% }); %>
    </table>
    </div>
</body>

</html>